.rater {
 
    border-top: none; 
    border-left: none; 
    border-bottom: solid windowtext 1.0pt;  
    border-right: solid windowtext 1.0pt;   
    background: #BFBFBF;  
     
  
}

.bawahRater {
 
    border-top:none;
    border-left:none;
    border-bottom: solid windowtext 1.0pt;
    border-right:solid windowtext 1.0pt;
   
}

.bawahRaterSelected {
  
    border-top: none; 
    border-left: none; 
    border-bottom: solid windowtext 1.0pt; 
    border-right: solid windowtext 1.0pt;   
    background: #BFBFBF;  
   
   
}

.radioRater {
  
    border-top:none;
    border-left:none; 
    border-bottom:solid windowtext 1.0pt;  
    border-right:solid windowtext 1.0pt; 
    padding:5px;
}


.deskripsiCakim {
    border-top:none;
    border-left: solid windowtext 1.0pt;
    border-bottom: solid windowtext 1.0pt;
    border-right:solid windowtext 1.0pt; 
    padding:5px; 
}



.auto-style9 {
	color: white;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: medium;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	border-bottom-style: none;
	border-bottom-color: inherit;
	border-bottom-width: medium;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style10 {
	color: white;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: medium;
	border-right: .5pt solid windowtext;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	border-bottom-style: none;
	border-bottom-color: inherit;
	border-bottom-width: medium;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style13 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border: .5pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style24 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: medium;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	border-bottom-style: none;
	border-bottom-color: inherit;
	border-bottom-width: medium;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style26 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border: .5pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style28 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style29 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: medium;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	border-bottom: 1.0pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style48 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1.0pt solid windowtext;
	border-right-style: solid;
	border-right-color: inherit;
	border-right-width: 1px;
	border-top: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style49 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1px solid windowtext;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: medium;
	border-top: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style52 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: medium;
	border-right: 1px solid windowtext;
	border-top: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style53 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1.0pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	border-bottom: .5pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style55 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: medium;
	border-top-style: solid;
	border-top-color: inherit;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: inherit;
	border-bottom-width: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style56 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: medium;
	border-right: .5pt solid windowtext;
	border-top-style: solid;
	border-top-color: inherit;
	border-top-width: 1px;
	border-bottom: .5pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style57 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1.0pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style58 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: medium;
	border-right: .5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style59 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1.0pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom-style: none;
	border-bottom-color: inherit;
	border-bottom-width: medium;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style60 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom-style: none;
	border-bottom-color: inherit;
	border-bottom-width: medium;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style61 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: medium;
	border-right: .5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom-style: solid;
	border-bottom-color: inherit;
	border-bottom-width: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style62 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1.0pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style63 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right: 1px solid windowtext;
	border-top: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style64 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1px solid windowtext;
	border-right-style: solid;
	border-right-color: inherit;
	border-right-width: 1px;
	border-top: 1px solid windowtext;
	border-bottom: 1px solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style65 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left-style: solid;
	border-left-color: inherit;
	border-left-width: 1px;
	border-right: 1px solid windowtext;
	border-top: 1px solid windowtext;
	border-bottom: 1px solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style66 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1.0pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	border-bottom: .5pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style67 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	border-bottom: .5pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style68 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1.0pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style69 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1.0pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style70 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	border-bottom: 1.0pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style72 {
	border-collapse: collapse;
}
.auto-style73 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1px solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style78 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left-style: solid;
	border-left-color: inherit;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: inherit;
	border-right-width: 1px;
	border-top: 1px solid windowtext;
	border-bottom: 1px solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style79 {
	color: windowtext;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1px solid windowtext;
	border-right-style: solid;
	border-right-color: inherit;
	border-right-width: 1px;
	border-top: 1px solid windowtext;
	border-bottom: 1px solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style80 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top-style: solid;
	border-top-color: inherit;
	border-top-width: 1px;
	border-bottom: .5pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style81 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top-style: solid;
	border-top-color: inherit;
	border-top-width: 1px;
	border-bottom: .5pt solid windowtext;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style82 {
	color: windowtext;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: medium;
	border-top-style: solid;
	border-top-color: inherit;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: inherit;
	border-bottom-width: medium;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
.auto-style83 {
	color: white;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right-style: none;
	border-right-color: inherit;
	border-right-width: medium;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	border-bottom-style: solid;
	border-bottom-color: inherit;
	border-bottom-width: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}
.auto-style84 {
	color: white;
	font-size: 12.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	text-align: general;
	vertical-align: middle;
	white-space: nowrap;
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: medium;
	border-right: .5pt solid windowtext;
	border-top-style: none;
	border-top-color: inherit;
	border-top-width: medium;
	border-bottom-style: solid;
	border-bottom-color: inherit;
	border-bottom-width: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	background: #F2F2F2;
}